html {
  overflow: hidden;
  height: 100%;
}

body {
  padding-right: 15rem;
  padding-left: 5rem;
  max-width: 100vw;
  background: linear-gradient(90deg, #3a0ca3 0%, #7209b7 50%);
  background-repeat: fixed;
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  padding-top: 5rem;
  overflow: auto;
  height: 100%;
}

@media only screen and (min-width: 900px) {
  body {
    padding-top: 8rem;
    padding-right: 15rem;
    padding-left: 15rem;
  }
}

h1,
h2 {
  line-height: 1;
  text-transform: capitalize;
}

@media only screen and (max-width: 600px) {
  body {
    padding-right: 3rem;
    padding-left: 1rem;
    padding-top: 1.5rem;
  }
}

@media only screen and (min-width: 600px) {
  body {
    overflow-x: hidden;
  }
}
